body {
    
    background: 
    linear-gradient(135deg, rgba(183, 233, 114, 0.8), rgba(0, 125, 0, 0.8)),
    url("{{ url_for('static', filename='../static/css/zong-bg.jpg') }}") no-repeat center center;
    
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.container {
    display: flex;
    align-items: stretch;
    width: 50%;
    max-width: 1200px;
    z-index: 1;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.226);
}

.login-container {
    padding: 2rem;
    width: 50%;
    background: white;
}

.login-box {
    text-align: center;
    position: relative;
    z-index: 2;
}

.logo {
    width: 200px;
    margin-bottom: 1rem;
    margin-left: 20%;
}

h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #90c744;
    font-weight: 700;
}

.input-group {
    margin-bottom: 1rem;
    position: relative;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: 600;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: all 0.3s ease;
}

#error-message{
    color: red;
    visibility: hidden;
}

.input-group input:focus {
    border-color: #6D83F2;
    box-shadow: 0 0 0 2px rgba(109, 131, 242, 0.3);
}

.shake {
    animation: shake 0.5s ease;
    color: red;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

button {
    background-color: #6D83F2;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #5a6dcb;
}

.image-container {
    width: 50%;
   
    display: flex;
    /*
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    */
    z-index: 2;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
   /* object-fit: contain;*/
}

.animated-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.container > .login-container {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}



.animated-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.shape {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    z-index: 0;
}

.shape-one {
    width: 200px;
    height: 200px;
    top: -100px;
    left: -100px;
    animation: moveOne 20s infinite linear;
}

.shape-two {
    width: 300px;
    height: 300px;
    bottom: -15px;
    right: -15px;
    animation: moveTwo 25s infinite linear;
}

@keyframes moveOne {
    0% {
        transform: translateX(0) translateY(0);
    }
    50% {
        transform: translateX(300px) translateY(300px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes moveTwo {
    0% {
        transform: translateX(0) translateY(0);
    }
    50% {
        transform: translateX(-300px) translateY(300px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
